/*Carolina Barrios González uo275673*/
/*Especifidad 002*/
main article {
    width:100%; 
    height:50vw; 
}

/*Especifidad 002*/
main svg{
    width:100%; 
}

/* Especificidad 001 */
label{
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }