/*Carolina Barrios González uo275673*/
/*
    Contrastes: 
        #0C2900 con #D4CFB9
        #224200 con #D4CFB9
        #B0B54A con #0C2900
        
*/
body { 
    /*Especifidad 001*/
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif ;
    background-color: #D4CFB9;
    color: #0C2900;
}

header {
    /*Especifidad 001*/
    background-color: #0C2900;
    color: #B0B54A;
}

header h1 a{
    /*Especifidad 003*/
    text-decoration-line: none;
    /*El background color se hereda de header*/
    color: #B0B54A;
}

header nav a{
    /*Especifidad 003*/
    text-decoration-line: none;
    /*El background color se hereda de header*/
    color: #B0B54A;
}

ul { 
    /*Especifidad 001*/
    list-style-type: square; 
}

ol {
    /*Especifidad 001*/
    list-style-type: upper-roman; 
}

ul ol {
    /*Especifidad 002*/
    list-style-type: lower-alpha; 
}

p a {
    /*Especifidad 002*/
    /*Background color se hereda del body*/
    color: #0C2900;
}

dt {
    /*Especifidad 001*/
    font-weight: bold;
}

th {
    /*Especifidad 001*/
    border-style: outset;
}

td {
    /*Especifidad 001*/
    border-style: inset;
}

p[text^="Estás en:"] {
    /*Especifidad 011*/
    font-size: x-small;
}

video {
    /*Especifidad 001*/
    width: 100%;
    height: auto;
}

audio {
    max-width: 100%;
}

section {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

section article {
    flex: 15%;
    border: 0.1em solid #0C2900;
    border-radius: 10px;
    
    margin: 10px;
    cursor: pointer;
    transform-style: preserve-3d;
    height: 300px;
    display:grid;
    justify-content: center;
}




