/*Carolina Barrios González uo275673*/
/* Especificidad 001 */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Especificidad 002 */
section h2 {
    flex: 100%;
}

/* Especificidad 002 */
section article {
    flex: 25%;
    background-color: #B0B54A;
    align-self: stretch;
    border: 0.1em solid #0C2900;
    border-radius: 10px;

    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    height: 100px;
    display: flex;
    justify-content: center;
}

/* Especificidad 012 */
section article[data-style=flip] {
    transform: rotateY(180deg);
}

/* Especificidad 03 */
section article h3 {
    color: #1A1A1D;
    /* background-color: #B0B54A, heredado de section article */
    backface-visibility: hidden;
    align-self: center;
    position: absolute;
}

@media (max-width:800px) {
  /* Especificidad 003 */
    section article h3 {
        font-size: medium;
    }
}

/* Especificidad 003 */
section article img {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    height: auto;
    width: 5em;
    position: relative;
}

/* HTML: <div class="loader"></div> */
.loader,
.loader:before,
.loader:after{
  width: 35px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px inset #fff;
  position: relative;
  animation: l6 1.5s infinite 0.5s;
}

.loader:before,
.loader:after{
  content: "";
  /*Advertencia comprobada y necesaria. No afecta a nada que no deba afectar*/
  position: absolute;
  left: calc(100% + 5px);
  /*Advertencia comprobada y necesaria. No afecta a nada que no deba afectar*/
  animation-delay: 1s;
}
.loader:after{
  /*Advertencia comprobada y necesaria. No afecta a nada que no deba afectar*/
  left: -40px;
  /*Advertencia comprobada y necesaria. No afecta a nada que no deba afectar*/
  animation-delay: 0s;
}
@keyframes l6 {
  0%,55%,100%  {border-radius:0  }
  20%,30%      {border-radius:50%}
}