@keyframes colorBack{
    from{background-color: #0007;}
    to{background-color: #ff0000;}
}

section{
    display: grid;   
}

section section {
    justify-content: center;
    display: flex;
    margin:2%;
}

div {
    background-color: #0007;
    height: 200px;
    aspect-ratio: 1;
    border: 0.5em solid #000;
    border-radius: 50%;
    margin:2%;

}

main.load div:first-of-type{
    animation-name:colorBack;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
}

main.load div:nth-of-type(2){
    animation-name:colorBack;
    animation-duration:0.5s;
    animation-delay: 0.125s;
    animation-fill-mode: forwards;
}

main.load div:nth-of-type(3){
    animation-name:colorBack;
    animation-duration:0.5s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

main.load div:nth-of-type(4){
    animation-name:colorBack;
    animation-delay: 0.375s;
    animation-fill-mode: forwards;
}

button{
    margin: 1%;
}