section{
    display: grid;   
}

section section {
    justify-content: center;
    display: flex;
    margin:2%;
}

div {
    background-color: #0007;
    height: 200px;
    aspect-ratio: 1;
    border: 0.5em solid #000;
    border-radius: 50%;
    margin:2%;

}

div.load{
    background-color: #ff0000;
}

button{
    margin: 1%;
}